<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    @*<title ng-bind="helloAngular"></title>*@
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>*@
    @Scripts.Render("~/bundles/angular")
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</head>
<body class="marble" ng-app="DevCanTest" ng-controller="AngularTest">
    <div class="navbar cornflowerBlue navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Angles", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("OrderSearch", "OrderSearch", "Home")</li>
                    <li>@Html.ActionLink("OrderDetail", "OrderDetail", "Home")</li>
                </ul>
            </div>
            <div class="navbar-left collapse">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("OrderSearch", "OrderSearch", "Home")</li>
                    <li>@Html.ActionLink("OrderDetail", "OrderDetail", "Home")</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My AngularJS & WebAPI App</p>
        </footer>
    </div>
    @* Testing Angular Without Restart *@
    <script src="~/Scripts/angularjs/Controllers/AngularTest.js"></script>
    <script src="~/Scripts/angularjs/Controllers/OrderSearch.js"></script>
    <script src="~/Scripts/angularjs/Controllers/OrderSearchAdvanced.js"></script>
    <script src="~/Scripts/angularjs/Services/OrderSearchService.js"></script>
    <script src="~/Scripts/DevCanTest.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
</html>
